header {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
h1 {
    font-size: 3.5em;
    font-weight: bolder;
}
nav li {
    font-size: 1.25em;
    font-weight: bolder;
}
#gameBoard {
    width: 100%;
    text-align: center;
}
#gameBoard div {
    width: 20%;
    float: left;
}
#scoreBoard {
    width: 100%;
    background-color: grey;
}
#scoreBoard div {
    width: 50%;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    float: left;
}
#battleBoard {
    width: 100%;
}
#battleBoard div {
    width: 50%;
    text-align: center;
    float: left;
}
#messageBoard {
    width: 100%;
    text-align: center;
    float: left;
    font-size: 3em;
    font-weight: bolder;
}
#rules {
    text-align: center;
}
#rules li {
    list-style: none;
    font-size: 1.25em;
    font-weight: bolder;
}